/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'StarJedi';
    src: url('./assets/fonts/soloist1.ttf');
}

html {
    height: 100%;
    margin: 0px 200px;
}

body {
    background-color: black;
    background-image: url('./assets/star_wars_background.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #FFE81F;
    font-family: 'StarJedi', sans-serif;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}